.MyCreations {
    text-align: justify;
}


@media only screen and (min-width: 900px) {
    .Portfolio {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-gap: 45px;
    }    
}

@media only screen and (min-width: 900px) {
    .Portfolio {
        display: grid;
        grid-template-rows: repeat(3, 300px);
    }
}